# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Allow outputs (models and images)
!outputs/
!outputs/*.h5
!outputs/*.pkl
!outputs/*.png
!outputs/*.jpg
